@charset "UTF-8";
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border; }

/*Botonera de Inicio*/
.mainInicio {
  height: 2100px; }

.logo {
  height: 160px; }

a:link, a:visited {
  text-decoration: none; }

main {
  background-color: #ececec;
  height: 750px; }

.subtitulo, .subtituloH2 {
  color: black;
  font-size: 300%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding-top: 50px;
  padding-left: 20px; }

.subtituloH2 {
  padding: 50px;
  background-color: #f3f3e8;
  text-align: center;
  color: #706a6a;
  color: grey;
  font-size: 200%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

/*Sección Index*/
.banner-bottom {
  display: flex;
  align-content: center;
  justify-content: center; }
  .banner-bottom__H3 {
    position: absolute;
    top: 1700px;
    right: 120px;
    z-index: 2;
    color: white;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .banner-bottom__Boton {
    position: absolute;
    background-color: #f17272;
    border-radius: 20px;
    padding: 10px;
    top: 1900px;
    right: 200px;
    color: white; }
    .banner-bottom__Boton :hover {
      text-decoration: none;
      color: black; }
  .banner-bottom a {
    color: white;
    text-decoration: none; }
  .banner-bottom a:hover {
    background-color: #f18585;
    color: white; }
  .banner-bottom__Img {
    margin-top: 50px;
    height: 600px;
    width: 100%; }

/*ESTILOS DE LAS CARDS DE INDEX*/
.galeria {
  display: flex;
  margin-left: 9%;
  margin-top: 10px;
  height: 300px;
  width: 100%; }
  .galeria__Div {
    height: 300px;
    width: 300px;
    margin-left: 50px; }
  .galeria__Tarjeta {
    height: 20%;
    width: 100%;
    background-color: #f17272;
    color: blanchedalmond;
    text-align: center; }
    .galeria__Tarjeta h5 {
      padding-top: 10px; }
  .galeria__Img {
    height: 80%;
    width: 100%; }
    .galeria__Img img {
      height: 100%;
      width: 100%; }

.banner-oferta-bottom {
  margin-top: 100px;
  width: 100%; }
  .banner-oferta-bottom img {
    width: 100%; }

.divInicio {
  height: 650px;
  width: 100%; }
  .divInicio__Img {
    height: 30%;
    width: 100%;
    position: absolute; }
  .divInicio__Titulo {
    position: absolute;
    text-align: right;
    color: whitesmoke;
    top: 360px;
    right: 40px; }
  .divInicio__Link {
    position: absolute;
    top: 480px;
    right: 160px;
    border-radius: 20px;
    background-color: #f17878;
    color: white;
    padding: 10px;
    text-decoration: none; }
    .divInicio__Link :hover {
      text-decoration: none;
      color: black; }
  .divInicio a {
    color: white;
    text-decoration: none; }
  .divInicio a:hover {
    background-color: #f18585;
    color: white; }

.letraLime {
  font-family: 'Limelight', cursive;
  font-size: 65%; }

.marginLeft {
  margin-left: 50px; }

/*Sección Productos*/
.mainProductos {
  height: 2000px; }

.compra {
  color: white;
  font-size: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e43131;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  margin-top: 10%; }

.sectionProductos {
  display: grid;
  grid-template-areas: "div div div" "div div ";
  grid-template-columns: 40% 40%;
  grid-template-rows: 30% 30% 30%;
  height: 1300px;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-content: center;
  justify-items: center; }
  .sectionProductos__Div {
    border: 2px black solid;
    height: 350px;
    width: 350px;
    margin: 10%; }
  .sectionProductos__Titulo {
    color: #f8f8f8;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #e74736;
    text-align: center; }
  .sectionProductos__Img {
    height: 50%;
    width: 100%; }
  .sectionProductos__P {
    margin-left: 20px; }
  .sectionProductos__Boton {
    z-index: 1;
    border: 1px solid #ec2727;
    background-color: #f12b2b;
    text-decoration: none;
    margin-left: 20px;
    color: #ffffff;
    font-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }
  .sectionProductos a {
    color: white;
    text-decoration: none; }
  .sectionProductos a:hover {
    background-color: #f18585;
    color: white; }

.envios__I {
  height: 150px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }

.envios a {
  color: white;
  text-decoration: none; }

.envios a:hover {
  background-color: #f18585;
  color: white; }

/*Sección Recetas*/
.mainRecetas {
  height: 250vh; }

.recetaBoton {
  z-index: 1;
  position: absolute;
  font-size: 25px;
  border-radius: 25px;
  background-color: #e72121;
  color: white;
  padding: 10px;
  text-decoration: none;
  top: 500px;
  right: 200px; }
  .recetaBoton :hover {
    text-decoration: none;
    color: black; }
  .recetaBoton a {
    color: white;
    text-decoration: none; }
  .recetaBoton a:hover {
    color: white; }

.botonTarjeta {
  background-color: #ee0d0d;
  color: white; }
  .botonTarjeta :hover {
    background-color: #c73d2d; }

.w-100 {
  height: 500px;
  width: 90%; }

.historiaChef {
  display: flex; }
  .historiaChef__Div {
    width: 50%; }
  .historiaChef__P {
    font-size: 30px;
    padding: 10px;
    text-align: justify;
    margin-left: 50px;
    font-weight: bold; }
  .historiaChef__I {
    height: 90%;
    width: 80%; }

/*Sección Historia*/
div p {
  display: flex;
  flex-direction: column;
  align-content: center; }

.seccion {
  display: grid;
  grid-template-areas: "div div div" "div div ";
  grid-template-columns: 40% 40%;
  grid-template-rows: 30% 30% 30%;
  height: 600px;
  grid-row-gap: 100px;
  grid-column-gap: 50px;
  justify-content: center; }
  .seccion__Ai {
    height: 300px;
    width: 500px; }
    .seccion__Ai :hover {
      box-shadow: 0 0 20px #860404; }
  .seccion__Img {
    height: 225px;
    width: 375px; }
  .seccion__Ap {
    height: 300px;
    width: 375px;
    margin-top: 10px; }

.mainHistoria {
  height: 3200px; }

.historiaFondo {
  display: flex; }
  .historiaFondo__Div {
    width: 50%; }
  .historiaFondo__P {
    font-size: 20px;
    padding: 10px;
    text-align: justify;
    margin-left: 50px;
    margin-right: 20px; }
  .historiaFondo__Img {
    height: 90%;
    width: 80%; }

.mapa {
  height: 800px;
  width: 100%;
  align-items: center;
  justify-content: center; }
  .mapa__Link {
    margin-top: 10%;
    margin-left: 20%;
    height: 80%;
    width: 60%; }

/*Características footer*/
.footer {
  background-color: #1b1919;
  display: flex;
  color: white;
  height: 150px;
  width: 100%;
  align-items: center;
  text-decoration: none;
  justify-content: center; }
  .footer__Redes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 40px; }
    .footer__Redes ul {
      list-style: none;
      text-align: center; }
      .footer__Redes ul a {
        text-decoration: none;
        color: white; }
  .footer__Bancos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 40px; }
    .footer__Bancos ul {
      list-style: none;
      text-align: left; }
      .footer__Bancos ul a {
        text-decoration: none;
        color: white; }
  .footer__Enlaces {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-left: 40px; }
    .footer__Enlaces ul {
      list-style: none;
      text-align: left; }
      .footer__Enlaces ul a {
        text-decoration: none;
        color: white; }

/*Características contacto*/
.imgMensajes {
  position: -webkit-sticky;
  position: sticky;
  top: 500px;
  left: 2000px;
  height: 50px;
  width: 50px;
  margin-right: 20px; }

/*Media query*/
/*992 PIXELES*/
@media only screen and (max-width: 992px) {
  /*Botonera de Inicio*/
  .logo {
    height: 80px; }
  .navbar {
    z-index: 2; }
    .navbar .ul-desplegable {
      position: absolute;
      top: 100px;
      left: 0px;
      background-color: #f8f9fa;
      width: 100%; }
      .navbar .ul-desplegable ul {
        padding-left: 20px; }
  .mainRecetas {
    height: 310vh; }
  .galeria {
    margin-left: 5px; }
  .historiaChef__P {
    font-size: 16px; }
  .historiaChef__I {
    height: 70%;
    width: 90%; }
  .historiaFondo__P {
    font-size: 15px;
    padding: 10px;
    text-align: justify;
    margin-left: 10px;
    font-weight: normal; }
  .historiaFondo__Img {
    height: 70%;
    width: 80%; }
  .mainProductos {
    height: 4400px; }
  .envios {
    position: absolute;
    width: 100%;
    top: 3700px; }
    .envios__I {
      height: 150px;
      width: 250px; }
  .sectionProductos {
    grid-template-areas: "section"  "section" "section"  "section" "section" "section";
    grid-template-columns: 48%;
    grid-template-rows: 45% 45% 45% 45% 45% 45%; }
    .sectionProductos__Img {
      height: 60%;
      width: 100%; }
  .seccion__Ai {
    height: 2500px;
    width: 400px; }
  .seccion__Img {
    height: 150px;
    width: 250px; }
  .seccion__Ap {
    height: 150px;
    width: 250px; }
  .mainHistoria {
    height: 2900px; } }

/*768 PIXELES*/
@media only screen and (max-width: 768px) {
  .subtituloH2 {
    font-size: 24px; }
  .mainRecetas {
    height: 350vh; }
  .recetasTodas {
    width: 100%; }
    .recetasTodas__Titulo {
      z-index: 1;
      position: absolute;
      top: 2600px;
      color: white; }
    .recetasTodas__Img {
      height: 750px;
      width: 100%;
      position: absolute;
      top: 2200px; }
  .recetas {
    grid-template-areas: "section"  "section" "section"  "section";
    grid-template-columns: 48%;
    grid-template-rows: 45% 45% 45% 45%; }
    .recetas__Img {
      height: 60%;
      width: 80%; }
  .mapa__Link {
    height: 80%;
    width: 80%;
    margin-left: 10%; } }

/*600 PIXELES*/
@media only screen and (max-width: 600px) {
  .historiaChef__P {
    font-size: 13px;
    margin-left: 0px;
    padding: 2px;
    font-weight: bold; }
  .historiaChef__I {
    height: 80%;
    width: 100%; }
  .w-100 {
    height: 400px;
    width: 90%; }
  .seccion__Ai {
    height: 125px;
    width: 200px; }
  .seccion__Img {
    height: 110px;
    width: 180px; }
  .seccion__Ap {
    height: 110px;
    width: 180px; }
  .mainHistoria {
    height: 2500px; }
  .historiaFondo__P {
    font-size: 8px;
    margin: 5px;
    padding: 1px;
    font-weight: normal; }
  .historiaFondo__Img {
    height: 80%;
    width: 100%; }
  .recetas__Div {
    font-size: 16px; }
  .recetas__Enlace {
    width: 80px; }
  .recetaBoton {
    z-index: 2;
    position: absolute;
    font-size: 15px;
    padding: 5px;
    width: 90px;
    top: 500px;
    right: 100px; }
  .mainInicio {
    height: 1600px; }
  .banner-bottom .banner-bottom__Img {
    margin-top: 50px;
    height: 400px;
    width: 100%; }
  .divInicio {
    height: 300px; }
    .divInicio__Img {
      height: 300px;
      width: 100%; }
    .divInicio__Titulo {
      font-size: 20px;
      top: 120px;
      right: 40px; }
    .divInicio__Link {
      top: 250px;
      right: 100px;
      font-size: 15px;
      padding: 5px; }
  .logo {
    height: 80px; }
  .galeria {
    display: flex;
    margin-left: 5px;
    margin-top: 5px; }
    .galeria__Div {
      height: 200px;
      width: 200px;
      margin-left: 0px;
      margin-right: 5px; }
    .galeria__Tarjeta {
      height: 20%;
      width: 100%;
      background-color: #f17272;
      color: blanchedalmond;
      text-align: center; }
      .galeria__Tarjeta h5 {
        padding-top: 10px; }
    .galeria__Img {
      height: 80%;
      width: 100%; }
      .galeria__Img img {
        height: 100%;
        width: 100%; }
  .banner-oferta-bottom {
    margin-top: 100px;
    width: 100%; }
    .banner-oferta-bottom img {
      width: 100%; }
  .banner-bottom__H3 {
    font-size: 20px;
    position: absolute;
    top: 1300px;
    right: 10px;
    z-index: 2;
    color: white; }
  .banner-bottom__Boton {
    position: absolute;
    background-color: #f17272;
    border-radius: 20px;
    padding: 10px;
    top: 1350px;
    right: 30px;
    color: white; }
  .mainProductos {
    height: 4200px; }
  .sectionProductos__Div {
    height: 350px;
    width: 300px; }
  .sectionProductos__Titulo {
    font-size: 100%; }
  .sectionProductos__img {
    width: 100%;
    height: 80%; }
  .sectionProductos__Boton {
    font-size: 60%; }
  .mainRecetas {
    height: 340vh; }
  .recetas {
    height: 600px; }
    .recetas__Titulo {
      font-size: large; }
    .recetas__Img {
      height: 40%;
      width: 80%;
      top: 1800px; }
  .recetasTodas__Titulo {
    top: 1600px;
    font-size: 20px; }
  .recetasTodas__Img {
    height: 400px;
    top: 1300px; }
  .footer__Redes {
    margin-left: 5px; }
    .footer__Redes ul li {
      font-size: 10px; }
  .footer__Bancos {
    margin-left: 5px; }
    .footer__Bancos ul li {
      font-size: 10px; }
  .footer__Enlaces {
    margin-left: 5px; }
    .footer__Enlaces ul li {
      font-size: 10px; } }

/*430 PIXELES*/
@media only screen and (max-width: 430px) {
  .recetas__Div {
    height: 250px;
    width: 250px; }
  .mapa {
    height: 600px; }
    .mapa__Link {
      height: 80%;
      width: 80%;
      margin-left: 10%; }
  .mainRecetas {
    height: 2210px; }
  .w-100 {
    height: 350px;
    width: 90%; }
  .recetaBoton {
    top: 400px; }
  .seccion {
    grid-row-gap: 10px;
    grid-column-gap: 20px; }
    .seccion__Ap {
      height: 75px;
      width: 125px; }
      .seccion__Ap p {
        font-size: 10px; }
      .seccion__Ap h4 {
        font-size: 15px; }
    .seccion__Ai {
      height: 75px;
      width: 125px; }
    .seccion__Img {
      height: 75px;
      width: 125px; }
  .mainHistoria {
    height: 2100px; } }
