

* {
    margin: 0%;
    padding: 0%;
    box-sizing : border 
 }

/*Botonera de Inicio*/




.mainInicio{
    height: 2000px;
}
.logo {
    height: 160px;
}

a:link, a:visited {
    text-decoration: none;
}

main {
    background-color: rgb(236, 236, 236);
    height: 200vh;
    h2 {
        padding: 50px;
        background-color: rgb(243, 243, 232);
        text-align: center;
        color: rgb(112, 106, 106);
    }
}


@mixin titulos ( $colorletra , $tamañoletra) {

    color: $colorletra;
    font-size: $tamañoletra;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
    
    
}


.subtitulo {
    
    @include titulos(black, 300%);
    padding-top: 50px;
    padding-left: 20px;
}

.subtituloH2 {
    @extend .subtitulo;
   @include titulos(grey, 200% )

}



/*Sección Index*/

.img-banner {
    height: 600px;
    width: 100%;
}
h1 {
    
    text-align: left;
    color: rgb(255, 255, 255);
    top: 10px;
    right: 50px;
    font-weight: bolder;
    
}
.boton-compra {
    position: absolute;
    top: 3150px;
    right: 150px;
    border-radius: 25px;
    background-color: rgb(231, 33, 33);
    color: white;
    padding: 20px;
    text-decoration: none;
   
        
}

.boton-compra:hover {
    background-color: rgb(241, 133, 133);
    text-decoration: none;
    color: white;
}


.banner-bottom {
display: flex;
align-content: center;
justify-content: center;
h3 {
font-size: 50px;
position: absolute;
top: 1800px;
right: 120px;
z-index: 2;
color: white;
}

.banner-bottom__boton {
position: absolute;
background-color: rgb(241, 114, 114);
border-radius: 20px;
padding: 10px;
top: 1950px;
right: 200px;
color: white;
}

.banner-bottom__img {
margin-top: 50px;
height: 500px;
width: 100%;
}
}
/*ESTILOS DE LAS CARDS DE INDEX*/
.galery {
display: flex;
margin-left: 9%;
margin-top: 10px;
.contenedor-card {
height: 300px;
width: 300px;
margin-left: 50px;
.banner-cards {
height: 20%;
width: 100%;
background-color: rgb(241, 114, 114);
color: blanchedalmond;
text-align: center;
    h5 {
        padding-top: 10px;
    }
}

.contenedor-img {
height: 80%;
width: 100%;
    img {
        height: 100%;
        width: 100%;
    }
}
}
}

.banner-oferta-bottom {
margin-top: 100px;
width: 100%;
img {

width: 100%;
}
}

.divInicio {
    
    height: 650px;
    width: 100%;
    

    &__Img {
        height: 100%;
        width: 100%;
        position: absolute;

    }

    &__Titulo {
        position: absolute;
        text-align: right;
        color: whitesmoke;
        top: 360px;
        right: 40px;
    }

    &__Link {
        position: absolute;
        top: 480px;
        right: 160px;
        border-radius: 25px;
        background-color: rgb(231, 33, 33);
        color: white;
        padding: 20px;
        text-decoration: none;

        :hover{
            background-color: rgb(241, 133, 133);
            text-decoration: none;
            color: white;
        }
    }


}






.letraLime { 
    font-family: 'Limelight', cursive;
    font-size: 65%;
    } 


.marginLeft {
    margin-left: 50px;
}





/*Sección Productos*/

.sectionProductos {
    display: grid;
    grid-template-areas: 
                        "div div div"
                        "div div";
    grid-template-columns: 40% 40%;
    grid-template-rows: 30% 30% 30%;
    height: 1000px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    justify-items: center;

    

    &__Titulo{

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    }

    &__Img {

        width: 60%;

        height: 60%;

    }

    &__Boton {

    border: 1px solid #bb1515;

    background-color: #8a1b1b; 

    color: #ffffff; 

    text-decoration: none; 

    font-size: 100%;

    border-radius: 20px;

    }
}


/*Sección Recetas*/

.mainRecetas {
    height: 300vh;
}

.recetas {
    display: grid;
    grid-template-areas: 
                        "section section"
                        "section section";
    grid-template-columns: 48% 48% ;
    grid-template-rows: 45% 45%;
    height: 1000px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;

    &__Div {
        
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    font-size: 20px;

    }

    &__Titulo{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    &__Img {

    height: 70% ;

    width: 90%;

    border-radius: 30px;

    }
    &__Enlace{
       

            border: 1px solid #6d0101;
        
            background-color: #7c0606; 
        
            color: #ffffff; 
        
            text-decoration: none; 
        
            font-size: 90%;
        
            border-radius: 10px;

            width: 20%;

           

          
            
    }
}

.recetasTodas{

    width: 100%;

    &__Titulo{
        position: absolute;
        top: 1500px;
        color: white;
    }

    &__Img{
        height: 750px;
        width: 100%;
        
    }    

    
}



/*Sección Historia*/

div p{
    display: flex;
    flex-direction: column;
    align-content: center; 
   
}

.fotoMapa{
    
    height: 100%;
    
   &__Img{
       position: absolute;
       width: 25%;
       height: 90%;
       margin-left: 5%;

    }
    
    &__Mapa{
        position: absolute;
        width: 55%;
        height: 90%;
        right: 10px;
        margin-left: 5%;
       
    }


}

.tabla {

    border-collapse: separate;
    border: 5px solid; 
    margin-left: auto;
    margin-right: auto;

    &__FilaUno{

        background-color: rgba(253, 0, 0, 0.068);
        
        
    }

    &__FilaDos {

        background-color: rgba(255, 17, 0, 0.062);
    }
    
}





.historiaFondo {
    
    height: 290vh;

    &__Texto {

   
    font-size: 18px;
    font-weight: bold;
    text-align: justify;
    margin-block-start: 0%;
    text-indent: 5%;

    }
    
    
}


/*Características footer*/

.footer {

    background-color: rgb(27, 25, 25);
    display: flex;
    color: white;
    height: 150px;
    align-items: center;
    

    .div-footer1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top: 20px;
        margin-left: 40px;

        ul {
            list-style: none;
            text-align: center;
        }
    }

    .div-footer2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top: 20px;
        margin-left: 40px;
        ul{
            list-style: none;
            text-align: left;
            
        }
    
    }  


}

/*Características contacto*/

.divContacto {
    display: flex;
    flex-direction: column;
    
    &__Img {
        height: 80px;
    width: 100px;
    }
}



/*Media query*/

 

/*992 PIXELES*/

@media only screen and (max-width: 992px) {
   
    /*Botonera de Inicio*/
    
    .logo {
        height: 80px;
    }

.navbar {
    z-index: 2;

    .ul-desplegable {
        position: absolute;
        top: 100px;
        left: 0px;
        background-color: #f8f9fa;
        width: 100%;

        ul{
            padding-left: 20px;
        }
        
    }
}

    .galery {
        margin-left: 5px;
    }
   

    .fotoMapa{
    
       
        
       &__Img{
           
           width: 30%;
           height: 70%;
           
    
        }
        
        &__Mapa{
            
            width: 50%;
            height: 70%;
            right: 10px;
           
           
        }
    
    
    }

}


/*768 PIXELES*/

@media only screen and (max-width: 768px) {

    
    main h2{
        font-size: 24px;
    }

    .sectionProductos {
       
        grid-template-areas: 
                            "section" 
                            "section"
                            "section" 
                            "section"
                            "section"
                            "section";

        grid-template-columns: 48% ;
        grid-template-rows: 45% 45% 45% 45% 45% 45%;

        &__Img {
            width: 100%;
            height: 60%;
        }
    }

    .tamañoMainProductos {
        height: 600vh;
    }

    .mainRecetas {
        height: 400vh;
    }

    .recetasTodas{

        width: 100%;
    
        &__Titulo{
            z-index: 1;
            position: absolute;
            top: 2600px;
            color: white;
        }
    
        &__Img{
            height: 750px;
            width: 100%;
            position: absolute;
            top: 2200px;
            
        }    
    
        
    }
    .recetas {
       
        grid-template-areas: 
                            "section" 
                            "section"
                            "section" 
                            "section";

        grid-template-columns: 48% ;
        grid-template-rows: 45% 45% 45% 45%;
        
    &__Img {
        width: 80%;
        height: 60%;
    }

  
}


.historiaFondo {
    height: 350vh;
}
}

.banner-bottom{
    h3 {
        font-size: 30px;
        
        }

    }

 
/*600 PIXELES*/

@media only screen and (max-width: 600px) {

    .recetas{
        &__Div{
            font-size: 16px;
        }

        &__Enlace{
            width: 80px;
        }
    }
    
    .fotoMapa{
    
       
        
        &__Img{
            
            width: 70%;
            height: 70%;
            right: 100px;
    
            
     
         }
         
         &__Mapa{
             
             width: 70%;
             height: 70%;
             top: 1900px;
            right: 100px;
            
         }
     
     
     }

    

    .mainInicio{
        height: 1600px;
    }
    .banner-bottom{
    .banner-bottom__img {
        margin-top: 50px;
        height: 400px;
        width: 100%;
        }
    }
    .divInicio {
    
        height: 300px;
       
    
        &__Img {
            
            width: 100%;
            height: 300px;
    
        }
        &__Titulo {
            
            font-size: 20px;
            top: 200px;
            right: 40px;
        }
    
        &__Link {
            
            top: 250px;
            right: 100px;
            font-size: 15px;
            padding: 5px;
    }
    }
    main {
        
        background-color: rgb(236, 236, 236);
            h2 {
                font-size: 24px;
            }
            div {
                width: 100%;
                    .img-banner {
                        height: 300px;
                        width: 100%;
                    }
                    h1 {
                        position: absolute;
                        text-align: right;
                        color: whitesmoke;
                        top: 200px;
                        right: 20px;
                        font-size: 18px;
                        
                    }
                    .boton-compra {
                        z-index: 1;
                        position: absolute;
                        top: 250px;
                        right: 70px;
                        border-radius: 15px;
                        background-color: rgb(231, 33, 33);
                        color: white;
                        padding: 10px;
                        text-decoration: none;
                        font-size: 16px;
                        text-align: center;
                            
                    }
    
                    .boton-compra:hover {
                        background-color: rgb(241, 133, 133);
                        text-decoration: none;
                        color: white;
                    }
            }
    }
    
   
    .logo {
            height: 80px;
        }
    
    
    .galery {
            display: flex;
            margin-left: 5px;
            margin-top: 5px;
            .contenedor-card {
                height: 200px;
                width: 200px;
                margin-left: 0px;
                margin-right: 5px;
                    .banner-cards {
                        height: 20%;
                        width: 100%;
                        background-color: rgb(241, 114, 114);
                        color: blanchedalmond;
                        text-align: center;
                            h5 {
                                padding-top: 10px;
                            }
                    }
        
                    .contenedor-img {
                        height: 80%;
                        width: 100%;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                    }
            }
        }
        
        
    .banner-oferta-bottom {
            margin-top: 100px;
            width: 100%;
                 img {
                    
                    width: 100%;
                 }
        }
        .banner-bottom{
        h3 {
            font-size: 15px;
            position: absolute;
            top: 1300px;
            right: 10px;
            z-index: 2;
            color: white;
            }
          
            .banner-bottom__boton {
            position: absolute;
            background-color: rgb(241, 114, 114);
            border-radius: 20px;
            padding: 10px;
            top: 1400px;
            right: 30px;
            color: white;
            }
        }   
     

.historiaFondo {
    
    height: 380vh;

    &__Texto {

   
    font-size: 14px;
    font-weight: bold;
    text-align: justify;
    margin-block-start: 0%;
    text-indent: 5%;

    }
    
    
}
     .tamañoMainProductos{
         height: 2800px;
     }
 
     .sectionProductos {
         

        &__Div{
            height: 250px;
        }
         
         &__Titulo{
             font-size: 100%;
         }
     
         
         &__img{
             width: 100%;
             height: 80%;
         }
         
     
         &__Boton {
     
         
     
         font-size: 60%;
     
        
     
         }
     }
     .mainRecetas {
         height: 220vh ;
     }
     .recetas {
 
         height: 600px;
        
         &__Titulo{
             font-size: large;
         }
     
         &__Img {
     
         height: 40% ;
     
         width: 80%;
         
         top: 1800px;
        
         }

         
     }

     .recetasTodas{

        &__Titulo{
            top: 1600px;
            font-size: 20px;
        }

        &__Img{
        height: 400px;

        top: 1300px;
        }
     }
 }
 
 
 