

* {
    margin: 0%;
    padding: 0%;
    box-sizing : border 
 }

/*Botonera de Inicio*/

@mixin tamañoMain ($altura){

    height: $altura;
    
}

.mainInicio{

    @include tamañoMain (2000px);
}


.logo {
    height: 160px;
}

a:link, a:visited {
    text-decoration: none;
}

main {
    background-color: rgb(236, 236, 236);
    height: 200vh;
   
}


@mixin titulos ( $colorletra , $tamañoletra) {

    color: $colorletra;
    font-size: $tamañoletra;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
    
    
}


.subtitulo {
    
    @include titulos(black, 300%);
    padding-top: 50px;
    padding-left: 20px;
}

.subtituloH2 {

    padding: 50px;
    background-color: rgb(243, 243, 232);
    text-align: center;
    color: rgb(112, 106, 106);

    @extend .subtitulo;
   @include titulos(grey, 200% )
    

}



/*Sección Index*/




.banner-bottom {
display: flex;
align-content: center;
justify-content: center;

    &__H3{
        font-size: 50px;
        position: absolute;
        top: 1700px;
        right: 120px;
        z-index: 2;
        color: white;
    }

    &__Boton{
        position: absolute;
        background-color: rgb(241, 114, 114);
        border-radius: 20px;
        padding: 10px;
        top: 1900px;
        right: 200px;
        color: white;
    }

    &__Img {
        margin-top: 50px;
        height: 500px;
        width: 100%;
    }
}

/*ESTILOS DE LAS CARDS DE INDEX*/
.galeria {
display: flex;
margin-left: 9%;
margin-top: 10px;
height: 300px;
    &__Div {
    height: 300px;
    width: 300px;
    margin-left: 50px;
    }
    &__Tarjeta {
    height: 20%;
    width: 100%;
    background-color: rgb(241, 114, 114);
    color: blanchedalmond;
    text-align: center;
        h5 {
            padding-top: 10px;
        }
}

    &__Img {
        height: 80%;
        width: 100%;
            img {
                height: 100%;
                width: 100%;
            }
    }
}


.banner-oferta-bottom {
margin-top: 100px;
width: 100%;
    img {

        width: 100%;
    }
}

.divInicio {
    
    height: 650px;
    width: 100%;
    

    &__Img {
        height: 30%;
        width: 100%;
        position: absolute;

    }

    &__Titulo {
        position: absolute;
        text-align: right;
        color: whitesmoke;
        top: 360px;
        right: 40px;
    }

    &__Link {
        position: absolute;
        top: 480px;
        right: 160px;
        border-radius: 25px;
        background-color: rgb(231, 33, 33);
        color: white;
        padding: 20px;
        text-decoration: none;

        :hover{
            background-color: rgb(241, 133, 133);
            text-decoration: none;
            color: white;
        }
    }


}






.letraLime { 
    font-family: 'Limelight', cursive;
    font-size: 65%;
    } 


.marginLeft {
    margin-left: 50px;
}





/*Sección Productos*/

.mainProductos {
       

    @include tamañoMain(2000px)
}

.sectionProductos {
    display: grid;
    grid-template-areas: 
                        "div div div"
                        "div div " ;
    grid-template-columns: 40% 40%;
    grid-template-rows: 30% 30% 30%;
    height: 1300px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
    justify-items: center;
   

    &__Div{
        border: 2px black solid;
        height: 350px;
        width: 350px;
      
        margin: 10%;
    }

    &__Titulo{

        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background-color: rgb(199, 61, 45);
        color: rgb(248, 248, 248);
        text-align: center;
    }

    &__Img {

        width: 100%;

        height: 50%;

    }

    &__P{
        margin-left: 20px;
    }

    &__Boton {

    z-index: 1;

    border: 1px solid #bb1515;

    background-color: #8a1b1b; 

    color: #ffffff; 

    text-decoration: none; 

    font-size: 100%;
    margin-left: 20px;

   
    }
}


/*Sección Recetas*/

.mainRecetas {
    
    @include tamañoMain(400vh)
}

.recetaBoton {
    z-index: 2;
    position: absolute;
    font-size: 25px;
    border-radius: 25px;
    background-color: rgb(231, 33, 33);
    color: white;
    padding: 10px;
    text-decoration: none;
    width: 180px;
    top: 700px;
    right: 200px;
}

.botonTarjeta{
    background-color: rgb(105, 0, 0);
    color: white;

    :hover{
        background-color: rgb(199, 61, 45);
    }
}

.w-100{
    width: 90%;
    height: 700px;
}

.historiaChef{
    display: flex;

    &__Div{
        width: 50%;
    }
    &__P{
        font-size: 30px;
        padding: 10px;
        text-align: justify;
        margin-left: 50px;
        font-weight: bold;

    }

    &__I{
        height: 90%;
        width: 80%;

        
    }    

    
}



/*Sección Historia*/

div p{
    display: flex;
    flex-direction: column;
    align-content: center; 
   
}

.mainHistoria{
        

    @include tamañoMain(2500px)
    
}

.historiaFondo{
    display: flex;

    &__Div{
        width: 50%;
    }
    &__P{
        font-size: 20px;
        padding: 10px;
        text-align: justify;
        margin-left: 50px;
        font-weight: bold;

    }

    &__Img{
        height: 90%;
        width: 80%;

        
    }    

    
}


  
.mapa{

    width: 100%;
    height: 50%;

    &__Link{
        margin-left: 10%;
        width: 80%;
        height: 80%;
    }
}



/*Características footer*/

.footer {

    background-color: rgb(27, 25, 25);
    display: flex;
    color: white;
    height: 150px;
    align-items: center;
    text-decoration: none;
    
    

    &__Redes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top: 20px;
        margin-left: 40px;

        ul {
            list-style: none;
            text-align: center;
          

            a{
                text-decoration: none;
                color: white;
            }
        }
    }

    &__Bancos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top: 20px;
        margin-left: 40px;
        ul{
            list-style: none;
            text-align: left;
            
            a{
                text-decoration: none;
                color: white;
            }


        }
    
    }  

    &__Enlaces{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        margin-top: 20px;
        margin-left: 40px;
        ul{
            list-style: none;
            text-align: left;
            
            a{
                text-decoration: none;
                color: white;
            }


        }

    }
}

/*Características contacto*/

.imgMensajes {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    left: 2000px;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}



/*Media query*/

 

/*992 PIXELES*/

@media only screen and (max-width: 992px) {
   
    /*Botonera de Inicio*/
    


    .logo {
        height: 80px;
    }

.navbar {
    z-index: 2;

    .ul-desplegable {
        position: absolute;
        top: 100px;
        left: 0px;
        background-color: #f8f9fa;
        width: 100%;

        ul{
            padding-left: 20px;
        }
        
    }
}

    .galeria {
        margin-left: 5px;
    }
   

    
    .historiaChef{
        
        
        &__P{
            font-size: 16px;
            
    
        }
    
        &__I{
            height: 70%;
            width: 90%;
    
        }    
    
    }

    .historiaFondo{
        
    
        
        &__P{
            font-size: 15px;
            padding: 10px;
            text-align: justify;
            margin-left: 10px;
            font-weight: normal;
    
        }
    
        &__Img{
            height: 70%;
            width: 80%;
    
            
        }    
    
        
    }



    .mainProductos {
       

        @include tamañoMain(4000px)
    }

    .sectionProductos {
       
        grid-template-areas: 
                            "section" 
                            "section"
                            "section" 
                            "section"
                            "section"
                            "section";

        grid-template-columns: 48% ;
        grid-template-rows: 45% 45% 45% 45% 45% 45%;

        &__Img {
            width: 100%;
            height: 60%;
        }
    }
}


/*768 PIXELES*/

@media only screen and (max-width: 768px) {

    
     

    .subtituloH2{
        font-size: 24px;
    }

    

    .mainRecetas {
    

        @include tamañoMain(400vh)
    }

    .recetasTodas{

        width: 100%;
    
        &__Titulo{
            z-index: 1;
            position: absolute;
            top: 2600px;
            color: white;
        }
    
        &__Img{
            height: 750px;
            width: 100%;
            position: absolute;
            top: 2200px;
            
        }    
    
        
    }
    .recetas {
       
        grid-template-areas: 
                            "section" 
                            "section"
                            "section" 
                            "section";

        grid-template-columns: 48% ;
        grid-template-rows: 45% 45% 45% 45%;
        
    &__Img {
        width: 80%;
        height: 60%;
    }

  
}



}

 
/*600 PIXELES*/

@media only screen and (max-width: 600px) {

    .historiaChef{
        
        
        &__P{
            font-size: 13px;
            margin-left: 0px;
            padding: 2px;
            font-weight: bold;
    
        }
    
        &__I{
            height: 80%;
            width: 100%;
    
        }    
    
    }

    .mainHistoria{
        

        @include tamañoMain(2900px)

    }
    .historiaFondo{
        
       
        
        &__P{
            font-size: 12px;
            margin: 5px;
            padding: 1px;
            font-weight: normal;
    
        }
    
        &__Img{
            height: 40%;
            width: 100%;
    
        }    
    
    }

    

    .recetas{
        &__Div{
            font-size: 16px;
        }

        &__Enlace{
            width: 80px;
        }
    }
    
    .recetaBoton {
        z-index: 2;
        position: absolute;
        font-size: 15px;
    
       padding: 5px;
        width: 90px;
        top: 700px;
        right: 100px;
    }
    

    

    .mainInicio{
       

        @include tamañoMain(1600px)
    }
    .banner-bottom{
    .banner-bottom__img {
        margin-top: 50px;
        height: 400px;
        width: 100%;
        }
    }
    .divInicio {
    
        height: 300px;
       
    
        &__Img {
            
            width: 100%;
            height: 300px;
    
        }
        &__Titulo {
            
            font-size: 20px;
            top: 200px;
            right: 40px;
        }
    
        &__Link {
            
            top: 250px;
            right: 100px;
            font-size: 15px;
            padding: 5px;
    }
    }
    main {
        
        background-color: rgb(236, 236, 236);
            h2 {
                font-size: 24px;
            }
            div {
                width: 100%;
                    .img-banner {
                        height: 300px;
                        width: 100%;
                    }
                    h1 {
                        position: absolute;
                        text-align: right;
                        color: whitesmoke;
                        top: 200px;
                        right: 20px;
                        font-size: 18px;
                        
                    }
                    .boton-compra {
                        z-index: 1;
                        position: absolute;
                        top: 250px;
                        right: 70px;
                        border-radius: 15px;
                        background-color: rgb(231, 33, 33);
                        color: white;
                        padding: 10px;
                        text-decoration: none;
                        font-size: 16px;
                        text-align: center;
                            
                    }
    
                    .boton-compra:hover {
                        background-color: rgb(241, 133, 133);
                        text-decoration: none;
                        color: white;
                    }
            }
    }
    
   
    .logo {
            height: 80px;
        }
    
    
    .galeria {
            display: flex;
            margin-left: 5px;
            margin-top: 5px;
            &__Div {
                height: 200px;
                width: 200px;
                margin-left: 0px;
                margin-right: 5px;

            }
            &__Tarjeta {
                     height: 20%;
                    width: 100%;
                    background-color: rgb(241, 114, 114);
                    color: blanchedalmond;
                    text-align: center;
                            h5 {
                                padding-top: 10px;
                            }
                    }
        
                    &__Img {
                        height: 80%;
                        width: 100%;
                            img {
                                height: 100%;
                                width: 100%;
                            }
                    }
            
        }
        
        
    .banner-oferta-bottom {
            margin-top: 100px;
            width: 100%;
                 img {
                    
                    width: 100%;
                 }
        }
        .banner-bottom{
            &__H3{
            font-size: 20px;
            position: absolute;
            top: 1300px;
            right: 10px;
            z-index: 2;
            color: white;
            }
          
            &__Boton {
            position: absolute;
            background-color: rgb(241, 114, 114);
            border-radius: 20px;
            padding: 10px;
            top: 1350px;
            right: 30px;
            color: white;
            }
        }   
     


     .mainProductos{
         

         @include tamañoMain(3500px)
     }
 
     .sectionProductos {
         

        &__Div{
            height: 350px;
        }
         
         &__Titulo{
             font-size: 100%;
         }
     
         
         &__img{
             width: 100%;
             height: 80%;
         }
         
     
         &__Boton {
     
         
     
         font-size: 60%;
     
        
     
         }
     }
     .mainRecetas {
         

         @include tamañoMain(350vh)
     }
     .recetas {
 
         height: 600px;
        
         &__Titulo{
             font-size: large;
         }
     
         &__Img {
     
         height: 40% ;
     
         width: 80%;
         
         top: 1800px;
        
         }

         
     }

     .recetasTodas{

        &__Titulo{
            top: 1600px;
            font-size: 20px;
        }

        &__Img{
        height: 400px;

        top: 1300px;
        }
     }


.footer {

   
    
    

    &__Redes {
       
        margin-left: 5px;

        ul {
           
          

           
            li{
                font-size: 10px;
            }
        }
    }

    &__Bancos{
        
        margin-left: 5px;
        ul{
            
            
            li{
                font-size: 10px;
            }


        }
    
    }  

    &__Enlaces{
        
        margin-left: 5px;
        ul{
            
            
            li{
                font-size: 10px;
            }


        }

    }
}

    }

/*430 PIXELES*/

@media only screen and (max-width: 430px) {

    .mainInicio{
        @include tamañoMain(1800px)
    }

    .recetas{
        &__Div{
            width: 250px;
            height: 250px;
        }
    }
}

 
 
 